[submodule "Libft"]
	path = Libft
	url = https://github.com/Martin-dev86/Libft.git
[submodule "Printf"]
	path = Printf
	url = https://github.com/Martin-dev86/Ft_Printf.git
[submodule "Get_next_line"]
	path = Get_next_line
	url = https://github.com/Martin-dev86/Get_next_line.git
[submodule "Pipex"]
	path = Pipex
	url = https://github.com/Martin-dev86/Pipex.git
